{% extends 'layout.html' %}

{% block body %}

    <h2>Enter variable amounts</h2>

    <form method="post" action="get_variable_amounts">
        {% for var in variables %}
            <div><h3>{{ var }}:</h3>
            {% for ing in ingredients %}
                <label>grams of {{ var }} per gram of {{ ing }}</label>
                <input type="number" step="0.001" name="{{ var }}_{{ ing }}" required>
            {% endfor %}
            </div>
        {% endfor %}

        <input type="submit">
    </form>

{% endblock %}